.app__menu {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}

.app__menu-categories {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 1.25rem;
}

.app__menu-categories li{
    list-style: none;
    margin: 0 1rem ;
    cursor: pointer;
}

.app__menu-categories li:hover {
    text-decoration: underline;
    text-decoration-color: var(--border-golden);
}

.app__menu-categories li.active {
    text-decoration: underline;
    text-decoration-color: var(--border-golden);
    font-weight: bold;
    color: rgb(204, 188, 100);
}

.app__menu-item {
    display: flex;
    justify-content: space-between;
    margin: .5rem 10% 0;
}

@media screen and (max-width: 1150px) {
    .app__menu-categories {
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 650px) {

}