.app__contact {
    display: flex;
    flex-direction: column;
}

.app__contact-info {
    padding-top: 2rem;
    display: flex;
    justify-content: space-around;
}


.app__contact-type {
    font-weight: bold;
    font-size: 1.1rem;
    margin: 10px;
}

@media screen and (max-width: 650px) {
    .app__contact-info {
        flex-direction: column;
    }
}