.app__navbar {
    top: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid var(--border-golden);
}

#logo-title {
    display: flex;
    align-items: center;
}

.app__navbar-logo {
    margin: 1rem;
    justify-content: flex-start;
    align-items: center;
    max-width: 40px;
}

.app__navbar-title {
    max-width: 250px;
}

.app__navbar-links {
    display: flex;
    justify-content: center;
    list-style: none;
    cursor: pointer;
}

.app__navbar-links li {
    margin: 0 1rem;
    font-size: 1.6rem;
}

.app__navbar-links li:hover {
    text-decoration: underline;
    text-decoration-color: var(--border-golden);
}

.app__navbar-dropdown {
    margin: 1rem;
    cursor: pointer;
    position: fixed;
    top: 65px;
    right: -6px;
    font-size: 120%;
    background-color: rgba(0, 0, 0, 0.75);
    border: 2px solid var(--border-golden);
    border-radius: 50%;
    padding: 6px;
    display: none;
}

.app__navbar-overlay {
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.75);
    width: 100vw;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
    transition: .5s;

}

.app__navbar-overlay li {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 2.5rem;
    color: var(--border-golden);
    font-size: 1.5rem;
    cursor: pointer;

}

.app__navbar-overlay li:hover {
    text-decoration: underline;
    text-decoration-color: var(--border-golden);
}

.app__navbar-overlay .overlay__close {
    position: absolute;
    top: 20vw;
    right: 20vw;
    font-size: 1.5rem;
    color: var(--border-golden);
    cursor: pointer;
}

@media screen and (min-width: 2300px) {
    .app__navbar-dropdown {
        display: none;
    }
}

@media screen and (max-width: 1150px) {
    .app__navbar-dropdown {
        display: none;
    }

    .app__navbar-links {
        font-size: 1rem;
    }

    .app__navbar-logo {
        max-width: 20%;
    }

    .app__navbar-title {
        max-width: 90%;
    }
}

@media screen and (max-width: 650px) {
    .app__navbar {
        padding: 1rem;
        justify-content: flex-end;
    }

    .app__navbar-links {
        display: none;
    }

    .app__navbar-dropdown {
        display: block;
    }

    .app__navbar-logo {
        max-width: 10%;
    }

    .app__navbar-title {
        max-width: 70%;
    }
}