.app__gallery {
    display: flex;
    flex-direction: column;
}

.app__gallery-images {
    display: flex;
    flex-direction: column;
}

.app__gallery-image_block {
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;

    margin: 0 6rem;
}

.app__gallery-image_block img {
    max-width: 14vw;
    max-height: 14vw;
    min-width: 14vw;
    min-height: 14vw;
    border-radius: 35%;
    border: 1px solid var(--border-golden);
    margin: 1rem;
}

@media screen and (max-width: 650px) {
    
    .app__gallery-image_block{
       margin: 1rem; 
    }
    .app__gallery-image_block img {
        max-width: 25vw;
        max-height: 25vw;
        min-width: 25vw;
        min-height: 25vw;
    }
}
