.app__footer {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--border-golden);
}

.app__footer-links {
    width: 94%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.app__footer-links li {
    list-style: none;
    margin: 0 2rem;
    cursor: pointer;
}

.app__footer-links li:hover {
    text-decoration: underline;
    text-decoration-color: var(--border-golden);
}
.app__footer-to_top {
    display: none;
}

.app__footer-to_top:hover {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: var(--border-golden);
}

@media screen and (max-width: 650px) {
    .app__footer-links{
        display: none;
    }

    .app__footer-to_top {
        padding: 6px 0 2px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
